<link rel="stylesheet" type="text/css" href="/stylesheets/thestory.css"/>
<div id="thestory">
    <form action="start" method ="post" accept-charset="utf-8">
	<label id="typeLabel"><b>Category</b></label></br>
        <select name="category" id="category">
                <option value="sexy">sexy</option>
                <option value="creepy">creepy</option>
                <option value="poetry">poetry</option>
        </select></br>
	<input type="submit" id="startBtn" value="start"/>
    </form>
</div>
