<link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css"/>
<div id="saveNumber">
    <form action="save" method ="post" accept-charset="utf-8">
    	<label id="typeLabel"><b>Category</b></label></br>
	<select name="category" id="category">
  		<option value="sexy">sexy</option>
  		<option value="creepy">creepy</option>
  		<option value="poetry">poetry</option>
	</select></br>
	<label id="nameLabel"><b>Name</b></label><br/><input type="text" name="name" id="name"/><br/>
    	<label id="nmbLabel"><b>Number</b></label></br><input type="text" name="number" id="number"/><br/>
    	<input type="submit" id="saveBtn" value="save"/>
    </form>
</div>
